*{
    box-sizing: border-box;
}
#Mynav{
    /* background-color: rgb(128, 119, 119); */
    border-bottom: 1px solid gray;
}

body{
    background-image: url("{% images/img.jpg'%}");
    
}
a{
    color: #eeeeee;
}
a:hover{
    color: #0c0c0c;

}
.overlay{
width: 100%;
height: 500px;
background:url('../images/img.jpg') no-repeat center;
background-size: cover;
position: relative;
color: white;
z-index: 99;
display: flex;
align-items: center;
justify-content: center;

}

.overlay::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000bb;
    text-align: center;
}
.position-absolute {
    z-index: 100;
    box-shadow: 20px 0px 20px 0px white;
    padding: 6px 10px;
    border-radius: 10px;
}
/* footer */
footer{
    height: 370px;
    background-color: rgb(112, 74, 74);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
ul{
    list-style-type: none;
}
