<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<h1>Registrations From !</h1>
<form method="POST" novalidate>
    {% csrf_token %}
    {% for v in pass_valie %}
    {{v.label_tag}}
    {{v}}
    {{v.errors | striptags}}<br><br>
    {% endfor %}
    <input type="submit" value="submit">
    <a href="{% url 'template'%}">Login!</a>
</form>




</body>
</html>


