<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weallcome</title>
</head>
<body>
    
    
    <h1>Registration Successful</h1>
    <p>Thank you for registering. You can now login to your account.</p>
    <a href="{% url  'logout'%}">Logout!</a>
    <a href="{% url 'passw'%}">Change pass usgin old password</a>
    <a href="{% url 'chn'%}">Change pass without old password</a>


</body>
</html>


